{% extends 'base.html' %}
{% block title %}
Recipe Item
{% endblock %}
{% block content %}


<div class="row">
    <div class="col-md-6 text-center offset-md-4">
        <div class="card mt-4 text-center" style="width: 40rem;">
            <div class="card-body">
            <img class="mb-4" src="{{ url_for('static', filename='recipeitem.png') }}" alt="" style="width:200px;">
            <h3 class="card-title">{{ items.title }}</h3>
            <br>
            <h5 class="card-text">Submitted by: {{ items.username }}</h5>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Difficulty: {{ items.difficulty|safe }}</li>
            <li class="list-group-item">Ingredients: {{ items.ingredients}}</li>
            <li class="list-group-item">Description: {{ items.description|safe}}</li>
            </ul>
            <div class="card-body">
                <a href="{{ url_for('recipes_pages') }}" class="btn btn-light" style="background-color: yellowgreen;">Back to Recipe List</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}